/* Text Box Styles */
.text-container {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
    justify-content: center;
    align-items: center; 
}

.text-container p {
    font-size: 3vmin;
    margin: 0; 
}

.text-container input {
    width: 50vmin;
    height: 3vmin;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 2.5vmin;
}


/* Override Default Styles to Fit Into Horiz Navbar */
.page-navbar {
    flex-direction: column !important;
}

.dropdown-container {
    color: #F595B2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-menu {
    color: #000 !important;
    background-color: #F595B2;
}

.page-navbar {
    gap: 2vmin !important;
}

.page-navbar .file-path-container .file-path-input {
    color: #000 !important;
    background-color: #F595B2 !important;
}

::placeholder {
    color: #000 !important;
}

.browse-button {
    background-color: #F595B2 !important;
    color: #000 !important;
}

/* Button Row in Horizontal Navbar */
.button-row {
    display: flex;
    justify-content: center;
    gap: 1vmin;
    margin-top: -2vmin;
    margin-bottom: 1vmin;
}