/* Sub Menu Manager */
.sub-menu.hidden {
    display: none;
}

/* Preview */
.editable-textarea {
    width: 90%;
    height: 50vmin;
    padding: 10px;
    font-size: 2.5vmin;
    background-color: #F1E2C5;
    border: 0;
    resize: none;
}

/* Text Information (At Top) */
.top-information {
    font-size: 2.5vmin;
    padding-right: 5vmin;
    padding-left: 5vmin;
    color: var(--main-colour);
}

/* Bottom Buttons */
.buttons-section {
    margin-top: -1vmin;
    margin-bottom: 1vmin;
}

.button-action {
    margin-bottom: 0vmin;
}

/* Override + Add Some Dropdown Stuffs */
.button-refresh {
    padding-bottom: 5px;
    font-size: 3.5vmin;
    color: var(--main-colour);
    background-color: #030000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 1vmin;
}

.dropdown-container label {
    margin-right: 10px !important;
}

.download-info-name {
    font-size: 3vmin;
}

.download-info-subheader {
    font-size: 2.5vmin;
}

.kaomoji-loader {
    padding-top: 2vmin;
    padding-bottom: 1.5vmin;
    font-size: 2rem;
    color: var(--main-colour);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    animation: sway 1s infinite alternate;
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(10px);
    }
}