/* Center Image */
.center-image {
  max-width: 25vmin;
  margin-top: -20px;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
}

.center-text {
  position: relative;
  font-size: 6vmin;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #030000;
  font-family: 'Nunito', sans-serif;
  font-weight: bolder !important;
}

/* List */
.center-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  color: #030000;
}

.center-list li {
  font-size: 3vmin;
  margin-bottom: 10px;
}

/* Adjust Sidebar for Image */
.start-image {
  height: 15%;
  width: 90%;
  margin-left: 0%;
  margin-right: 0%;
}

.start-sidebar {
  margin-top: -12.5%;
}

/* Update Button */
.update-button {
  font-size: 3vmin;
  position: absolute;
  top: 10px;
  right: 10px;
}

.update-button-hide {
  display: none;
}

.inline-icon {
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

/* Splash Text */
.splash-text {
  position: absolute;
  font-size: 2vmin;
  color: var(--accent-colour);
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  transform-origin: center; 
  pointer-events: none; 
  transform: rotate(-10deg) scale(1);
  animation: growInOut 3s ease-in-out infinite;
  left: 55%;
  bottom: 7.5px;
  z-index: 1000;
}

@keyframes growInOut {
  0% {
    opacity: 0.8;
    transform: rotate(-10deg) scale(1);
  }
  50% {
    opacity: 1;
    transform: rotate(-10deg) scale(1.2);
  }
  100% {
    opacity: 0.8;
    transform: rotate(-10deg) scale(1);
  }
}

/* Wavey Text */
.wavey-text {
  display: inline-flex;
}

.wavey-text span {
  display: inline-block;
}

.wavey-text.wave span {
  animation: wave 1.5s infinite;
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes wave {
  0%, 100% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(-1px);
  }
}