/* Header Image */
.header-image {
    width: 60%;
    height: auto;
    padding-bottom: 5%;
}

/* Log */
.log {
    margin-top: 10px;
}

/* Footer */
.footer-container {
    font-size: 2vmin !important;
    bottom: 20px !important
}

/* top right button for advanced settings */
.advanced-settings {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}