/* Themes */
:root {
    --background-gradient: linear-gradient(135deg, #F595B2 0%, #C37084 100%); /* ashley's Eyes + Background */
    --main-colour: #F595B2;
    --light-colour: #f7c8d5;
    --accent-colour: #F1E2C5; /* universal between all themes */
}

[data-theme='ashley'] {
    --background-gradient: linear-gradient(135deg, #F595B2 0%, #C37084 100%); 
    --main-colour: #F595B2;
    --light-colour: #f7c8d5;
}

[data-theme='andrew'] {
    --background-gradient: linear-gradient(135deg, #89D27C 0%, #95B874 100%);
    --main-colour: #89D27C;
    --light-colour: #a2f594;
}

[data-theme='renee'] {
    --background-gradient: linear-gradient(135deg, #D7DD80 0%, #D8DC94 100%);
    --main-colour: #D7DD80;
    --light-colour: #e4e9a1;
}

[data-theme='julia'] {
    --background-gradient: linear-gradient(135deg, #FFEBA2 0%, #D8DC94 100%);
    --main-colour: #FFEBA2;
    --light-colour: #f7f9c0;
}

/* Font(s) */
@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nunito';
    src: url('../Fonts/Nunito.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General layout */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-gradient);
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    z-index: -2; /* Change this if removing overlay */
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/overlay.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    mix-blend-mode: multiply;
    z-index: -1;
    pointer-events: none;
}

/* Main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
}

/* Container */
.container {
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 25%);
}

/* File Path Selection */
.file-path-container {
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
}

.file-path-input {
    width: 50vmin;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 2.5vmin;
}

.browse-button {
    padding: 10px 20px;
    width: 20vmin;
    margin-left: 5px;
    font-size: 3vmin;
    color: var(--main-colour);
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Options */
.button-options-container {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    gap: 1vmin;
    margin-bottom: 1vmin;
    width: 100%;
}

.button-option {
    padding: 10px 20px;
    font-size: 3vmin;
    color: var(--main-colour);
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-option.selected {
    background-color: #000;
    color: #fff;
    text-decoration: underline;
}

.button-option:last-child {
    margin-right: 0;
}

.button-option:hover {
    background-color: #3c3c3c;
}

/* Action Button */
.button-action {
    padding: 10px 20px;
    font-size: 3vmin;
    color: var(--main-colour);
    background-color: #030000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 1.5vmin;
    margin-top: 1.5vmin;
}

/* Dropdown Selection */
.dropdown-menu {
    padding: 5px;
    font-size: 3vmin;
    border-radius: 5px;
    border: 1px solid #030000;
    background-color: #030000;
    color: var(--main-colour);
    width: 40vmin;
    text-align: center;
}

.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 2vmin;
    margin-top: 2vmin;
}

.dropdown-container label {
    font-size: 3vmin;
    margin-right: 30px;
    text-align: center;
}

/* Page Content */
.page-navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: #000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    font-size: 3vmin;
}

.page-navbar-option {
    text-decoration: none;
    color: var(--main-colour);
    font-weight: 600;
    padding: 5px 15px;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    
}

.page-navbar-option.selected {
    color: #fff;
    background-color: var(--main-colour);
    border-radius: 5px;
}

.page-navbar-option.hvr-underline-from-center:before {
    background-color: var(--main-colour);
    /* Unused for now, looks clunky.. but I want to rework it eventually */
}

.page-navbar-option:hover {
    color: #fff;
    background-color: var(--main-colour);
    border-radius: 5px;
}

.page-container {
    padding: 10px 0;
    background-color: #F1E2C5;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    margin: 0 auto;
}

.page-container.no-navbar {
    padding: 10px 0;
    background-color: #F1E2C5;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
}

.page-container.hidden {
    display: none;
}

/* Bottom Section of Page Navbar */
.page-bottom {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    padding: 10px 0;
    background-color: #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
    font-size: 3vmin;
}

.disable-bottom-curves {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.bottom-row-button {
    color: #000 !important;
    background-color: var(--main-colour) !important;
}

/* Advanced Settings Dropdown */
.advanced-settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advanced-settings-contents {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.advanced-settings-contents.expanded {
    max-height: 400px;
    margin-top: 2%;
    padding: 10px;
    background-color: #000000;
    border-radius: 10px;
    border: 2px solid #000;
    width: 80%;
}

.advanced-settings-button-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}

.advanced-settings-button-options-container button {
    margin-right: 0.5vmin;
    margin-left: 0.5vmin;
    background-color: #000;
    color: var(--main-colour);
    font-size: 2.5vmin;
    padding: 2vmin;
}

.advanced-settings-button-options-container button.selected {
    background-color: var(--main-colour);
    color: #fff;
    font-weight: bold;
    text-decoration: none !important;
}

#advanced-settings-toggle {
    cursor: pointer;
}

/* Progress Stuffs */
.progress-container {
    flex: 1;
    margin-left: 25%;
    transition: margin-left 0.3s ease;
    position: absolute;
    bottom: 3%;
    background: #F1E2C5;
    border-radius: 10px;
    padding: 10px;
    font-size: 2.5vmin;
    display: none;
    outline: 3px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
    max-width: 50%;
    text-align: center;
}

.progress-container.toggled {
    margin-left: 0;
}

.progress-text {
    font-size: 2.5vmin;
    opacity: 1;
    transition: opacity 1s ease;
}

/* Disable Animations Universally (if desired) */
.disable-animations * {
    animation: none !important;
    transition: none !important;
}

/* Tooltip Theme */
.tippy-box[data-theme='burial'] {
    color: #000;
    background-color: var(--main-colour);
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 3vmin;
    border: 2px solid #000;
    border-radius: 10px;
}

.tippy-box[data-theme~='burial'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: var(--main-colour);
}

