/* Center Image */
.center-image {
  max-width: 25vmin;
  margin-top: -20px;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
}

/* Start Text */
.center-text {
  font-size: 5vmin;
  margin-bottom: 20px;
  color: #030000;
}

/* List */
.center-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  color: #030000;
}

.center-list li {
  font-size: 3vmin;
  margin-bottom: 10px;
}

/* Adjust Sidebar for Image */
.start-image {
  height: 15%;
  width: 90%;
  margin-left: 0%;
  margin-right: 0%;
}

.start-sidebar {
  margin-top: -12.5%;
}

/* Update Button */
.update-button {
  font-size: 3vmin;
  position: absolute;
  top: 10px;
  right: 10px;
}

.update-button-hide {
  display: none;
}