/* Center Image */
.center-image {
  max-width: 100px;
  margin-bottom: 5px;
  margin-top: -20px;
  filter: drop-shadow(2px 3px 5px rgba(0, 0, 0, 0.5));
}

/* Start Text */
.center-text {
  font-size: 2em;
  margin-bottom: 20px;
  color: #030000;
}

/* List */
.center-list {
  text-align: center;
  list-style-type: none;
  padding: 0;
  color: #030000;
}

.center-list li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Button */
.center-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #F595B2;
  background-color: #030000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Adjust Sidebar for Image */
.start-image {
  height: 15%;
  width: 90%;
  margin-left: 0%;
  margin-right: 0%;
}

.start-sidebar {
  margin-top: -12.5%;
}

/* Update Button - top rigt corner */
.update-button {
  font-size: 1.75vw;
  position: absolute;
  top: 10px;
  right: 10px;
}

.update-button-hide {
  display: none;
}