/* Font */
@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../Fonts/NotoSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* General layout */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #F595B2 0%, #C37084 100%); /* ashley's Eyes + Background */
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
}

/* Main content */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
}

/* Container */
.container {
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 25%);
}
