/* Header Image */
.header-image {
    width: 60%;
    height: auto;
    padding-bottom: 5%;
}

/* Start Text */
.center-text {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #030000;
}

/* Log */
.log {
    margin-top: 10px;
}
