/* Override Default Styles to Fit Into Horiz Navbar */
.page-navbar {
    flex-direction: column !important;
}

.dropdown-container {
    color: var(--main-colour) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-menu {
    color: #000 !important;
    background-color: var(--main-colour);
}

.page-navbar {
    gap: 2vmin !important;
}