/* Information */
.info-section {
    font-size: 3vmin;
    margin-bottom: 3vmin;
}

.info-section div {
    font-size: 2.5vmin;
}

/* Footer */
.footer-container {
    font-size: 2vmin;
    margin-top: 2vmin;
}
