/* Header Image */
.header-image {
    width: 70vmin;
    height: auto;
}

/* Fonts */
.small-title {
    font-family: Nunito, sans-serif !important;
    font-size: 3.2vmin;
}

.items-list {
    font-family: Nunito, sans-serif !important;
    font-size: 2.6vmin;
}

.items-list a {
    text-decoration: none;
    color: #000;
}