/* Backup List */
.backups-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backups-list-contents {
    max-height: 40vmin;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    background-color: #000;
    border-radius: 5px;
    border: 2px solid #000;
    min-width: 80%;
    max-width: 80%;
}

.backups-list-container div {
    font-size: 2.5vmin;
    color: var(--main-colour);
}

.backup-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-colour);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.backup-path {
    font-size: 2vmin;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    color: #333;
    max-width: 80%;
}

.backup-buttons {
    display: flex;
    gap: 10px;
}

.backup-button {
    font-size: 2vmin;
    color: #fff;
    padding: 5px 10px;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.backup-button:hover {
    background-color: #F1E2C5;
    color: #000;
    transform: scale(1.05);
}

/* Override Default Styles */
.button-navbar {
    background-color: var(--main-colour) !important;
    color: #000 !important;
}

.advanced-settings-container {
    margin-bottom: 1vmin !important;
}

.advanced-border {
    border: 2px solid var(--main-colour) !important;
}