/* Bring Colour To The Navbar */
.button-navbar {
    background-color: var(--main-colour) !important;
    color: #000 !important;
}

.button-smol-navbar {
    padding: 9px !important;
    margin-left: 5px !important;
    background-color: var(--main-colour) !important;
    color: #000 !important;
}

.file-path-navbar {
    width: 45vmin !important;
}

/* Overrides for Inline Buttons */
.dropdown-menu {
    width: 40vmin !important;
}

.button-option-inline {
    padding: 6px !important;
    margin-left: 5px !important;
}