/* Navbar Override */
.page-navbar {
    flex-direction: column !important;
    gap: 2vmin !important;
}

.dropdown-container {
    color: var(--main-colour) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-menu {
    color: #000 !important;
    background-color: var(--main-colour);
}

.button-navbar {
    background-color: var(--main-colour) !important;
    color: #000 !important;
}

/* Sub Menu Manager */
.sub-menu.hidden {
    display: none;
}

/* Preview */
.editable-textarea {
    width: 90%;
    height: 50vmin;
    padding: 10px;
    font-size: 2.5vmin;
    background-color: #F1E2C5;
    border: 0;
    resize: none;
}

/* Bottom Buttons */
.buttons-section {
    margin-top: -1vmin;
    margin-bottom: 1vmin;
}

.button-action {
    margin-bottom: 0vmin;
}
