/* Navbar Dropdown */
.page-navbar {
    flex-direction: column !important;
    gap: 2vmin !important;
}

.navbar-dropdown-container {
    color: var(--main-colour) !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.navbar-dropdown-menu {
    color: #000 !important;
    background-color: var(--main-colour);
}