/* Steps */
.steps-header {
    font-size: 3vmin;
    font-weight: bold;
}

.steps-content {
    font-size: 2.5vmin;
}

.steps-multi-button {
    margin-top: 0.5vmin;
    width: 20vmin;
}

.step p {
    max-width: 90vmin;
    margin: 0 auto;
    line-height: 2;
}

.step.hidden {
    display: none;
}