/* Button */
.center-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #F595B2;
    background-color: #030000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Path Type Selection */
.kind-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.install-type-button {
    padding: 10px 20px;
    font-size: 1em;
    color: #F595B2;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.install-type-button.selected {
    background-color: #000;
    color: #fff;
    text-decoration: underline;
}

.install-type-button:last-child {
    margin-right: 0;
}

.install-type-button:hover {
    background-color: #3c3c3c;
}

/* File Path Selection */
.file-path-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.file-path-input,
.file-path-output {
    width: 50vmin;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1em;
}

.browse-button {
    padding: 10px 20px;
    width: 25%;
    margin-left: 5px;
    font-size: 1.15em;
    color: #F595B2;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}