/* Advanced Settings */
.advanced-settings-container {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.advanced-settings-contents {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.advanced-settings-contents.expanded {
    max-height: 400px; 
    margin-top: 2%;
    padding: 10px;
    background-color: #F1E2C5;
    border-radius: 5px;
    border: 2px solid #000;
    width: 80%;
}

.advanced-settings-button-options-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advanced-settings-button-options-container button {
    margin-right: 0.5vmin;
    margin-left: 0.5vmin;
}

#advanced-settings-toggle {
  cursor: pointer;
}