/* Override Default Styles to Fit Into Horiz Navbar */
.page-navbar {
    flex-direction: column !important;
    gap: 2vmin !important;
}

.dropdown-container {
    color: #F595B2 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.dropdown-menu {
    color: #000 !important;
    background-color: #F595B2;
}

